<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--  <class name="PracticeEMR.PracticeEMR.AppTest"/>
      <class name="emr.practice.utilities.EmrAfterAction"/>
      <class name="emr.practice.utilities.EmrBeforeAction"/>
      <class name="emr.practice.utilities.EmrSetupDriver"/>
      -->
      <class name="emr.practice.runner.EmrRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


